.Header {
  width: 100vw;
  height: 30px;
  background: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.Header-item.center h1 {
  font-size: 1.2rem;
  color: #fafafa;
}

.Header-item.right {
  position: absolute;
  right: 15px;
}
