.Dock {
  width: 80px;
  height: calc(100vh - 30px);
  background-color: #333333;
  padding: 0;
}

.Dock.is-mobile {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-content: flex-start;
}
