.DockItem.is-mobile {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.DockItem.is-mobile::before {
  content: none;
}

.DockItem.is-mobile::after {
  content: attr(data-title);
  position: absolute;
  top: 74px;
  color: #fafafa;
}
