.DockItem {
  position: relative;
}

.DockItem.is-open::before {
  content: "";
  background-color: #dd4814;
  width: 7px;
  height: 7px;
  z-index: 100;
  position: absolute;
  left: 4px;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}

.DockItem:hover::after {
  content: attr(data-title);
  position: absolute;
  z-index: 1000;
  background-color: #212121;
  padding: 3px 12px;
  color: #fafafa;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5px;
  border: 1px solid #616161;
  border-radius: 4px;
}

.DockItem-button {
  width: 74px;
  height: 74px;
  margin: 3px 3px 0 3px;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.DockItem-button:hover {
  background-color: #757575;
}

.DockItem.is-open.is-active .DockItem-button {
  background-color: #616161;
}
