.Mado {
  position: absolute;
  width: 640px;
  height: 360px;
  color: #f5f5f5;
  background-color: #424242;
  border-radius: 7px 7px 0 0;
  box-shadow: 0px 4px 11px -1px rgba(0, 0, 0, 0.8);
}
.Mado:not(.is-active) {
  background-color: #757575;
  transition: background-color 0.2s linear;
}

.Mado.react-draggable-dragging .Mado-header {
  cursor: grabbing;
}

.Mado .Mado-header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 40px;
  background-color: #757575;
  color: #fafafa;
  border-radius: 7px 7px 0 0;
  cursor: grab;
}
.Mado:not(.is-active) .Mado-header {
  color: #e0e0e0;
  transition: background-color 0.2s linear;
}

.Mado .Mado-header .Mado-header-close {
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #dd4814;
}
.Mado:not(.is-active) .Mado-header .Mado-header-close {
  background-color: transparent;
}

.Mado .Mado-content {
  height: 310px;
  padding: 5px 10px;
  overflow: auto;
}
