.PullDown {
  position: relative;
}

.PullDown-button {
  width: 20px;
  height: 20px;
}

.PullDown-content {
  position: absolute;
  top: 40px;
  right: 0;
  display: flex;
  align-items: center;
  width: 218px;
  height: 112px;
  border: 1px solid #afafaf;
  border-radius: 4px;
  background-color: #212121;
  z-index: 9999;
  padding: 5px 8px;
  box-sizing: border-box;
}

.PullDown-content::before {
  pointer-events: none;
  content: "";
  position: absolute;
  right: 0;
  top: -30px;
  right: 10px;
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  border-bottom: 15px solid #afafaf;
}

.PullDown-content::after {
  pointer-events: none;
  content: "";
  position: absolute;
  right: 0;
  top: -26px;
  right: 12px;
  width: 0px;
  height: 0px;
  border: 13px solid transparent;
  border-bottom: 13px solid #212121;
}

.PullDown-item {
  color: #fafafa;
}

.PullDown-item a {
  display: flex;
  align-items: center;
}

.PullDown-item svg {
  margin-right: 10px;
}
